    <div class="content">
        <div class="user-content">
            <img class="logo" src="assets/images/user_logo.png" />

            <h4 class="name">Dummy User</h4>
            <p class="designation">Dashboard Developer</p>
        </div>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink="/home" routerLinkActive="active-link">
            <span>Home</span>
          </button>
          <button mat-button class="menu-button" routerLink="/dashboard" routerLinkActive="active-link">
            <span>Dashboard</span>
          </button>
          <button mat-button class="menu-button" routerLinkActive="active-link">
            <span>Sign out</span>
          </button>

        <mat-divider></mat-divider>
    </div>