$primary-dark-color: #395B64;
$primary-extra-dark-color: #2C3333;
$primary-light-color: #A5C9CA;
$primary-extra-light-color: #E7F6F2;
$default-light-font-color: #ffffff;
$default-dark-font-color: #000000;

$header-height: 3rem;
$footer-height: 2rem;