.row>* {
    padding: 0.5rem;
}
section {
    padding: 1rem;
    width: 100%;
    .row {
        div {
            float: left;
        }
        .mat-card-container {
            padding: 0rem 0.25rem;
        }
    }
    .grid-card {
        height: 100%;
        table {
            width: 100%;
        }
    }
    .vertical-bar-card {
        min-height: 18rem;
    }
}